Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
doc/Makefile.in
doc/scute.info
doc/stamp-vti
doc/version.texi
m4/Makefile.in
obj/
src/Makefile.in
tests/Makefile.in
/VERSION
# Files created by make when not using a VPATH build
config.h
config.log
config.status
libtool
*.o
Makefile
doc/scute.7
doc/yat2m-stamp
stamp-h1
src/.deps/
src/.libs/
src/*.lo
src/scute.la
src/versioninfo.rc
tests/.deps/
tests/.libs/
tests/t-auth
tests/t-closeallsessions
tests/t-findobjects
tests/t-generaterandom
tests/t-getattribute
tests/t-getfunctionlist
tests/t-getinfo
tests/t-getmechanisminfo
tests/t-getmechanismlist
tests/t-getsessioninfo
tests/t-getslotinfo
tests/t-getslotlist
tests/t-gettokeninfo
tests/t-initialize
tests/t-link
tests/t-opensession
