# autogen.sh configuration for Scute                           -*- sh -*-
case "$myhost" in
  w32)
    configure_opts="
      --with-gpg-error-prefix=@SYSROOT@
      --with-libassuan-prefix=@SYSROOT@
      "
    ;;

  amd64)
    configure_opts="
      --with-gpg-error-prefix=@SYSROOT@
      --with-libassuan-prefix=@SYSROOT@
     "
    ;;
esac

extra_aclocal_flags=""
final_info="./configure --enable-maintainer-mode  && make"
